{% extends 'master.html.twig' %}
{% block contents %}
    <section class="form-group">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row form-header">
            <div class="form-header-label col-md-2">
                {{ form_label(form.name)}}
            </div>

            {{ form_widget(form.name, {'attr': {'class': 'form-input-label col-md-10'}}) }}
        </div>
        <div class="row form-question">
            {{ form_label(form.questions, 'Les questions', {'label_attr': {'class': 'form-questions-label col-md-12'}}) }}
            {{ form_widget(form.questions, {'attr': {'class': 'form-input-label col-md-10'}}) }}
        </div>
        {{ form_end(form) }}
        </section>
{% endblock %}