{% extends 'master.html.twig' %}
{% block contents %}
    <section class="form-group">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row form-header">
            <div class="form-header-label col-md-2">
                {{ form_label(form.name)}}
            </div>

            {{ form_widget(form.name, {'attr': {'class': 'form-input-label col-md-10'}}) }}
        </div>
        <div class="row form-question">
            {{ form_label(form.questions, 'Les questions', {'label_attr': {'class': 'form-questions-label col-md-12'}}) }}
            {{ form_widget(form.questions, {'attr': {'class': 'form-input-label col-md-10'}}) }}
        </div>
        {{ form_end(form) }}
        </section>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var $questionsContainer = $('div#formgenerator_formbundle_topic_questions');
            var $addQuestion = $('<a href="#" id="add_question" class="btn btn-default">Ajouter une question</a>');

            $questionsContainer.append($addQuestion);

            $addQuestion.click(function(e) {
                addQuestion($questionsContainer);
                e.preventDefault();
                return false;
            });

            function addQuestion($container) {
                var index = $questionsContainer.find(':input').length;
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Question').replace(/__name__/g, index));
                addDeleteLink($prototype);
                $container.append($prototype);

                $questionsContainer.append($prototype);
                //Ajout des réponses dans la question:
                var $answerContainer = $('#formgenerator_formbundle_topic_questions_'+ index +'_answers');

                var $addAnswer = $('<a href="#" id="add_answer" class="btn btn-default">Ajouter une réponse</a>');
                $answerContainer.append($addAnswer);

                $addAnswer.click(function(e) {
                    addAnswer($answerContainer, index);
                    e.preventDefault();
                    return false;
                });

                $('#formgenerator_formbundle_topic_questions').append($('#add_question'));
                }

            function addDeleteLink($prototype) {
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                });
            }

            function addAnswer($container, $index) {
                var $counter = $('#formgenerator_formbundle_topic_questions_' + $index + '_answers>div').length;

                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype')
                    .replace(/formgenerator_formbundle_topic_questions_ + $index +_answers_ + $index/g, 'formgenerator_formbundle_topic_questions_0_answers_' + $counter)
                    .replace('formgenerator_formbundle_topic[questions][' + $index + '][answers][' + $index + '][answer]', 'formgenerator_formbundle_topic[questions][' + $index + '][answers][' + $counter + '][answer]')
                    .replace('formgenerator_formbundle_topic[questions][' + $index  + '][answers][' + $index + '][isCorrect]', 'formgenerator_formbundle_topic[questions][' + $index + '][answers][' + $counter +'][isCorrect]'));

                /*var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Réponse')
                    .replace(/__name__/g, $counter));*/
                addDeleteLink($prototype);
                $container.append($prototype);
            }

            function addDeleteLink($prototype) {
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($deleteLink);

                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();

                    return false;

                });

            }
        });
    </script>
{% endblock %}